{%- assign items = site.data[site.metadata] -%}

<div class="d-block p-1 bg-primary text-white mb-3"> </div>

<div class="container-fluid">

	<div class="row">
	
		<div class="col-md-auto">
			<img src="/assets/logotipo.png">
			<h1 style="color: #329DF6;">DixiNav</h1>
		</div>
	 
		<div class="col">
			<div class="row">
				<div class="col text-center">  
					{% include index/objects.html %}
				</div>
	 
				<div class="col text-center">  
					{% include index/featured-terms.html field="subject" title="Temas destacados" btn-color="primary" %}
				</div>
	 
				<div class="col text-center">  
					{% include index/time.html %}
				</div>
			</div>
		</div>
		<!-- {% include index/divisor.html %} -->
	</div>
</div>
<div class="d-block p-2 bg-primary text-white text-align-end mb-3">Versión 1.0</div>