{%- assign items = site.data[site.metadata] -%}
<div class="container-fluid">
<div class="row">
<div class="col">
<img src="/assets/logotipo.png">
  <h1 style="color: #0b5ed7;">DixiNav</h1>
  </div>
<div class="row text-center">
	{% include index/divisor.html %}
	<div class="col-md-4">  

	{% include index/objects.html %}
	
	</div>
 
	<div class="col-md-4">  

     {% include index/featured-terms.html field="subject" title="Temas destacados" btn-color="primary" %}
	</div>
 
	<div class="col-md-4">  

	{% include index/time.html %}

	</div>
</div>

{% include index/divisor.html %}
</div>
</div>